@using IlanSistemi.Entities.Concrete;
@model List<Advert>;
<div class="row mt-30">
    @if (ViewData["message"] is null)
    {
        @foreach (var item in Model)
        {
            var title = item.Title.Length > 18 ? item.Title.Substring(0, 18) + "..." : item.Title;
            <div class="col-sm-12 col-lg-4 col-md-6">
                <div class="product-item bg-light">
                    <div class="card">
                        <div class="thumb-content">
                            <!-- <div class="price">$200</div> -->
                            <a asp-controller="Advert" asp-action="Index" asp-route-advertId="@item.Id">
                                <img class="card-img-top img-fluid" style="object-fit: cover; height: 200px;" src="~/UrunResimleri/@item.advertImages?.FirstOrDefault(x => x.AdvertId == item.Id).ImagePath" alt="Card image cap">
                            </a>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title"><a asp-controller="Advert" asp-action="Index" asp-route-advertId="@item.Id">@title</a></h4>
                            <ul class="list-inline product-meta">
                                <li class="list-inline-item">
                                    <a asp-controller="Advert" asp-action="Index" asp-route-advertId="@item.Id"><i class="fa fa-folder-open-o"></i>@item.Description</a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#"><i class="fa fa-calendar"></i>@item.CreatedAt</a>
                                </li>
                            </ul>
                            <p class="card-text">@item.Description</p>
                            <div class="product-ratings">
                                <ul class="list-inline">
                                    <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                    <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                    <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                    <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }

    }
    else
    {
        <h2>@ViewData["message"]</h2>
    }

</div>